<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link rel="stylesheet" href="theme.css" />
  </head>
  <body>

    <div class="counter pt-5" id="app">
      <div class="card">
        <h1> {{title}}: {{counter}}</h1>
        <div class="form-control">
          <input type='text' 
          :placeholder="placeholderString"  
          v-model='inputValue'
          @keypress.enter='addNewNote'
          
          />
        </div>
        <h2>Добавление заметки: {{inputValue}}</h2>
          <button class="btn primary" v-on:click="addNewNote">Добавить</button>
          <hr />
          <ul class="list" v-if='notes.lingth !== 0'>
            <li class="list-item " v-for='(mynote, index) in notes'>
             ({{index +1}}) {{ toUpperCase(mynote) }}
              <button class="btn danger" v-on:click="deleteNote(index)">Удалить</button>
            </li> 
            <hr />
            <li>
              <strong>Обшее количество: {{ notes.length }}</strong> | Удвоенно: {{ doubleCountComputed }}
            </li>

          </ul>
          <div v-else-if='notes.length === 0'>Заметок нет</div>
          <!-- <button class="btn danger" v-on:click= 'counter --'>Вычесть</button> -->
        
      </div>
    </div>



  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <script src="app.js"></script>
  </body>
</html>
